//META{"name":"Rosé Pine","description":"soho vibes for Discord - Based on the Nocturnal theme","author":"ThatOneCalculator & Spectra","version":"Auto Update"}*//
@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/* TONS OF LAG @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
@import url("https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css");
/*@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");*/

body {
  font-family: Fira Code !important;
  font-size: 12px !important;
}


:root {
	--primary: #9bced7;
	--primaryGradient2: #f1ca93;
	--backgroundDark: #1F1D29;
	--backgroundDarker: #403C58;
	--font: "Fira Code", monospace;
	--version1_0_5:	none;
	--background: #1F1D29;
	--accentcolor: 234,187,185;	/* blurple - default: 114,137,218 */
	--linkcolor: 155,206,215;
	--server-icon-size: 38px;
	--server-icon-spacing: 4px;
	--server-container-padding: 10px;
}

.da-content>.da-sidebar{
    transform:translateX(-6px);
}
.da-content>.da-sidebar+div{
    z-index:1;
    margin-left:-17px
}

