/**
* @name Rosé Pine Moon
* @author 3nfg/HuCares_
* @authorId 637120137828237322
* @version 4.1.0
* @description All natural pine, faux fur and a bit of soho vibes for the classy minimalist.
* @source https://github.com/rose-pine/discord
* @updateUrl https://github.com/rose-pine/discord/blob/rose-pine-moon.theme.css
*/

@import url("https://gist.githubusercontent.com/benji-en/d65699ccfdc3f564fc18fe651eec0a20/raw/71ac0e6a585afe0b8d1e51fc2e15ceaac39f5d4b/rose-pine-test.css");

:root {
    --base: #232136;
    --surface: #2a273f;
    --overlay: #393552;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ea9a97;
    --pine: #3e8fb0;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlightLow: #2a283e;
    --highlightMed: #44415a;
    --highlightHigh: #56526e;

    --dawn-base: #faf4ed;
    --dawn-surface: #fffaf3;
    --dawn-overlay: #f2e9e1;
    --dawn-muted: #9893a5;
    --dawn-subtle: #797593;
    --dawn-text: #575279;
    --dawn-love: #b4637a;
    --dawn-gold: #ea9d34;
    --dawn-rose: #d7827e;
    --dawn-pine: #286983;
    --dawn-foam: #56949f;
    --dawn-iris: #907aa9;
    --dawn-highlightLow: #f4ede8;
    --dawn-highlightMed: #dfdad9;
    --dawn-highlightHigh: #cecacd;
}
