/**
* @name Rosé Pine Moon
* @author 3nfg/HuCares_
* @authorId 637120137828237322
* @version 4.1.0
* @description All natural pine, faux fur and a bit of soho vibes for the classy minimalist.
* @source https://github.com/rose-pine/discord
* @updateUrl https://github.com/rose-pine/discord/blob/rose-pine-moon.theme.css
*/

:root {
    --base: #232136;
    --surface: #2a273f;
    --overlay: #393552;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ea9a97;
    --pine: #3e8fb0;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlightLow: #2a283e;
    --highlightMed: #44415a;
    --highlightHigh: #56526e;

    --dawn-base: #faf4ed;
    --dawn-surface: #fffaf3;
    --dawn-overlay: #f2e9e1;
    --dawn-muted: #9893a5;
    --dawn-subtle: #797593;
    --dawn-text: #575279;
    --dawn-love: #b4637a;
    --dawn-gold: #ea9d34;
    --dawn-rose: #d7827e;
    --dawn-pine: #286983;
    --dawn-foam: #56949f;
    --dawn-iris: #907aa9;
    --dawn-highlightLow: #f4ede8;
    --dawn-highlightMed: #dfdad9;
    --dawn-highlightHigh: #cecacd;
}

.theme-dark {
    --menu-item-default-hover-bg: var(--base);
    --button-secondary-background-hover: var(--base);
    --home-background: var(--base);
    --bg-overlay-chat: var(--base);
    --background-primary: var(--base);
    --background-mobile-primary: var(--base);
    --primary-800: var(--base);

    --button-secondary-background: var(--surface);
    --button-secondary-background-active: color-mix(in srgb, var(--surface) 80%, transparent);
    --bg-mod-faint: var(--surface);
    --bg-surface-raised: var(--surface);
    --autocomplete-bg: var(--surface);
    --background-secondary: var(--surface);
    --modal-background: var(--surface);
    --channeltextarea-background: var(--surface);
    --deprecated-card-bg: var(--surface);
    --deprecated-card-editable-bg: var(--surface);
    --card-secondary-bg: var(--surface);
    --background-floating: var(--surface);
    --primary-700: var(--surface);
    --bg-base-secondary: var(--surface);
    --bg-mod-strong: var(--surface);

    --menu-item-default-active-bg: var(--overlay);
    --activity-card-background: var(--overlay);
    --deprecated-text-input-bg: var(--overlay);
    --background-modifier-selected: var(--overlay);
    --background-modifier-active: var(--overlay);
    --background-nested-floating: var(--overlay);
    --bg-surface-overlay: var(--overlay);
    --background-secondary-alt: var(--overlay);
    --modal-footer-background: var(--overlay);
    --card-primary-bg: var(--overlay);
    --background-tertiary: var(--overlay);
    --interactive-muted: var(--overlay);
    --scrollbar-thin-thumb: var(--overlay);
    --scrollbar-auto-thumb: var(--overlay);
    --primary-600: var(--overlay);
    --bg-mod-subtle: var(--overlay);

    --text-muted: var(--muted);
    --interactive-hover: var(--muted);
    --primary-400: var(--muted);

    --background-message-highlight: color-mix(in srgb, var(--subtle) 15%, transparent);
    --clr-subtle: var(--subtle);

    --text-normal: var(--text);
    --text-spotify: var(--text);
    --header-primary: var(--text);
    --header-secondary: var(--text);
    --interactive-normal: var(--text);
    --interactive-active: var(--text);

    --ping: var(--love);
    --background-accent: var(--love);
    --button-filled-brand-background: var(--love);
    --button-filled-brand-background-hover: color-mix(in srgb, var(--love) 60%, transparent);
    --control-brand-foreground-new: var(--love);
    --brand-500: var(--love);
    --brand-400: var(--love);
    --control-brand-foreground: var(--love);
    --text-brand: var(--love);
    --info-warning-background: color-mix(in srgb, var(--love) 10%, transparent);
    --status-danger: var(--love);
    --button-danger-background-hover: var(--love);
    --polls-voted-fill: color-mix(in srgb, var(--love) 25%, transparent);

    --background-mentioned: color-mix(in srgb, var(--gold) 10%, transparent);
    --background-mentioned-hover: color-mix(in srgb, var(--gold) 20%, transparent);
    --info-warning-foreground: var(--gold);

    /* all variables using --rose would go here, but there are none */

    --text-link: var(--pine);

    --header-spotify: var(--foam);

    /* all variables using --highlightLow would go here, but there are none */

    --background-modifier-hover: var(--highlightMed);
    --button-secondary-background-disabled: var(--highlightMed);

    --background-modifier-accent: var(--highlightHigh);

    /* misc */
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}

.theme-light {
    --menu-item-default-hover-bg: var(--dawn-base);
    --button-secondary-background-hover: var(--dawn-base);
    --home-background: var(--dawn-base);
    --bg-overlay-chat: var(--dawn-base);
    --background-primary: var(--dawn-base);
    --background-mobile-primary: var(--dawn-base);
    --primary-800: var(--dawn-base);

    --button-secondary-background: var(--dawn-surface);
    --button-secondary-background-active: color-mix(in srgb, var(--dawn-surface) 80%, transparent);
    --bg-mod-faint: var(--dawn-surface);
    --bg-surface-raised: var(--dawn-surface);
    --autocomplete-bg: var(--dawn-surface);
    --background-secondary: var(--dawn-surface);
    --modal-background: var(--dawn-surface);
    --channeltextarea-background: var(--dawn-surface);
    --deprecated-card-bg: var(--dawn-surface);
    --deprecated-card-editable-bg: var(--dawn-surface);
    --card-secondary-bg: var(--dawn-surface);
    --background-floating: var(--dawn-surface);
    --primary-700: var(--dawn-surface);
    --bg-base-secondary: var(--dawn-surface);

    --menu-item-default-active-bg: var(--dawn-overlay);
    --activity-card-background: var(--dawn-overlay);
    --deprecated-text-input-bg: var(--dawn-overlay);
    --background-modifier-selected: var(--dawn-overlay);
    --background-modifier-active: var(--dawn-overlay);
    --background-nested-floating: var(--dawn-overlay);
    --bg-surface-overlay: var(--dawn-overlay);
    --background-secondary-alt: var(--dawn-overlay);
    --modal-footer-background: var(--dawn-overlay);
    --card-primary-bg: var(--dawn-overlay);
    --background-tertiary: var(--dawn-overlay);
    --interactive-muted: var(--dawn-overlay);
    --scrollbar-thin-thumb: var(--dawn-overlay);
    --scrollbar-auto-thumb: var(--dawn-overlay);
    --primary-600: var(--dawn-overlay);
    --bg-mod-subtle: var(--dawn-overlay);
    --bg-mod-subtle: var(--dawn-overlay);


    --text-muted: var(--dawn-muted);
    --interactive-hover: var(--dawn-muted);
    --primary-400: var(--dawn-muted);

    --background-message-highlight: color-mix(in srgb, var(--dawn-subtle) 15%, transparent);
    --clr-subtle: var(--dawn-subtle);

    --text-normal: var(--dawn-text);
    --text-spotify: var(--dawn-text);
    --header-primary: var(--dawn-text);
    --header-secondary: var(--dawn-text);
    --interactive-normal: var(--dawn-text);
    --interactive-active: var(--dawn-text);

    --ping: var(--dawn-love);
    --background-accent: var(--dawn-love);
    --button-filled-brand-background: var(--dawn-love);
    --button-filled-brand-background-hover: color-mix(in srgb, var(--dawn-love) 60%, transparent);
    --control-brand-foreground-new: var(--dawn-love);
    --brand-500: var(--dawn-love);
    --brand-400: var(--dawn-love);
    --control-brand-foreground: var(--dawn-love);
    --text-brand: var(--dawn-love);
    --info-warning-background: color-mix(in srgb, var(--dawn-love) 10%, transparent);
    --status-danger: var(--dawn-love);
    --button-danger-background-hover: var(--dawn-love);
    --polls-voted-fill: color-mix(in srgb, var(--dawn-love) 25%, transparent);


    --background-mentioned: color-mix(in srgb, var(--dawn-gold) 10%, transparent);
    --background-mentioned-hover: color-mix(in srgb, var(--dawn-gold) 20%, transparent);
    --info-warning-foreground: var(--dawn-gold);

    /* all variables using --rose would go here, but there are none */

    --text-link: var(--dawn-pine);

    --header-spotify: var(--dawn-foam);

    /* all variables using --highlightLow would go here, but there are none */

    --background-modifier-hover: var(--dawn-highlightMed);
    --button-secondary-background-disabled: var(--dawn-highlightMed);

    --background-modifier-accent: var(--dawn-highlightHigh);

    /* misc */
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}

.container__87bf1,
.container__87bf1 > .slider__87bf1 > svg > path,
.lookFilled__3f413.select__3f413,
.list__920b8,
.mainLoginContainer__86e92 .input__0f084,
.container_d97f89,
.name_ac72c6 .input__0f084,
.mainTableContainer__09a38,
.container_cb32c7:has(> div > .appDetailsContainer_cb32c7),
.copyInput_fffc15,
.answerInner__4c520 {
    background-color: var(--background-tertiary) !important;
    fill: var(--background-tertiary) !important;
}

.replying__5126c:before {
    background-color: var(--clr-subtle) !important;
}

.replying__5126c:hover {
    background-color: color-mix(in srgb, var(--clr-subtle) 25%, transparent) !important;
}

.itemFilled__001a7,
.container_cb32c7:has(> div > .appDetailsContainer_cb32c7):hover {
    background-color: var(--background-primary) !important;
}

.vc-addon-header > div > .container__87bf1,
.container_c8ffbb,
.members_c8ffbb,
.member_c8ffbb,
.container_cb32c7:has(> div > .appDetailsContainer_cb32c7) .rowDivider_cb32c7 {
    background-color: var(--background-secondary) !important;
}

.container__87bf1.checked__87bf1,
.container__87bf1.checked__87bf1 > .slider__87bf1 > svg > path,
.vc-addon-header > div > .container__87bf1.checked__87bf1,
.live_a7acae {
    background-color: var(--background-accent) !important;
    fill: var(--background-accent) !important;
}

.muted__29444 .overflow__82b15 {
    color: var(--background-modifier-hover) !important;
}
