.theme-dark {
    --menu-item-default-hover-bg: var(--base);
    --button-secondary-background-hover: var(--base);
    --home-background: var(--base);
    --bg-overlay-chat: var(--base);
    --background-primary: var(--base);
    --background-mobile-primary: var(--base);
    --primary-800: var(--base);

    --button-secondary-background: var(--surface);
    --button-secondary-background-active: color-mix(in srgb, var(--surface) 80%, transparent);
    --bg-mod-faint: var(--surface);
    --bg-surface-raised: var(--surface);
    --autocomplete-bg: var(--surface);
    --background-secondary: var(--surface);
    --modal-background: var(--surface);
    --channeltextarea-background: var(--surface);
    --deprecated-card-bg: var(--surface);
    --deprecated-card-editable-bg: var(--surface);
    --card-secondary-bg: var(--surface);
    --background-floating: var(--surface);
    --primary-700: var(--surface);
    --bg-base-secondary: var(--surface);
    --bg-mod-strong: var(--surface);

    --menu-item-default-active-bg: var(--overlay);
    --activity-card-background: var(--overlay);
    --deprecated-text-input-bg: var(--overlay);
    --background-modifier-selected: var(--overlay);
    --background-modifier-active: var(--overlay);
    --background-nested-floating: var(--overlay);
    --bg-surface-overlay: var(--overlay);
    --background-secondary-alt: var(--overlay);
    --modal-footer-background: var(--overlay);
    --card-primary-bg: var(--overlay);
    --background-tertiary: var(--overlay);
    --interactive-muted: var(--overlay);
    --scrollbar-thin-thumb: var(--overlay);
    --scrollbar-auto-thumb: var(--overlay);
    --primary-600: var(--overlay);
    --primary-660: var(--overlay);
    --bg-mod-subtle: var(--overlay);

    --text-muted: var(--muted);
    --interactive-hover: var(--muted);
    --primary-400: var(--muted);

    --background-message-highlight: color-mix(in srgb, var(--subtle) 15%, transparent);
    --clr-subtle: var(--subtle);

    --text-normal: var(--text);
    --text-spotify: var(--text);
    --header-primary: var(--text);
    --header-secondary: var(--text);
    --interactive-normal: var(--text);
    --interactive-active: var(--text);
    --button-secondary-text: var(--text);

    --status-danger: hsl(from var(--love) h s calc(l*0.85));
    --menu-item-danger-active-bg: hsl(from var(--love) h s calc(l*0.85));

    --background-mentioned: color-mix(in srgb, var(--gold) 10%, transparent);
    --background-mentioned-hover: color-mix(in srgb, var(--gold) 20%, transparent);
    --info-warning-foreground: var(--gold);

    /* all variables using --rose would go here, but there are none */

    --text-link: var(--pine);
    --ping: var(--pine);
    --background-accent: var(--pine);
    --button-filled-brand-background: var(--pine);
    --button-filled-brand-background-hover: color-mix(in srgb, var(--pine) 60%, transparent);
    --control-brand-foreground-new: var(--pine);
    --brand-500: var(--pine);
    --brand-400: var(--pine);
    --control-brand-foreground: var(--pine);
    --text-brand: var(--pine);
    --info-warning-background: color-mix(in srgb, var(--pine) 10%, transparent);
    --polls-voted-fill: color-mix(in srgb, var(--pine) 25%, transparent);
    --brand-15a: color-mix(in srgb, var(--pine) 25%, transparent);
    --button-filled-brand-background-active: color-mix(in srgb, var(--pine) 30%, transparent);
    --mention-background: color-mix(in srgb, var(--pine) 25%, transparent);
    --mention-foreground: hsl(from var(--pine) h s calc(l*1.5));
    --brand-05a: color-mix(in srgb, var(--pine) 15%, transparent);
    --brand-10a: color-mix(in srgb, var(--pine) 20%, transparent);

    --header-spotify: var(--foam);

    /* all variables using --highlightLow would go here, but there are none */

    --background-modifier-hover: var(--highlightMed);
    --button-secondary-background-disabled: var(--highlightMed);

    --background-modifier-accent: var(--highlightHigh);

    /* misc */
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;

    --button-filled-brand-text: var(--dawn-surface);
}

.theme-light {
    --menu-item-default-hover-bg: var(--dawn-base);
    --button-secondary-background-hover: var(--dawn-base);
    --home-background: var(--dawn-base);
    --bg-overlay-chat: var(--dawn-base);
    --background-primary: var(--dawn-base);
    --background-mobile-primary: var(--dawn-base);
    --primary-800: var(--dawn-base);

    --button-secondary-background: var(--dawn-surface);
    --button-secondary-background-active: color-mix(in srgb, var(--dawn-surface) 80%, transparent);
    --bg-mod-faint: var(--dawn-surface);
    --bg-surface-raised: var(--dawn-surface);
    --autocomplete-bg: var(--dawn-surface);
    --background-secondary: var(--dawn-surface);
    --modal-background: var(--dawn-surface);
    --channeltextarea-background: var(--dawn-surface);
    --deprecated-card-bg: var(--dawn-surface);
    --deprecated-card-editable-bg: var(--dawn-surface);
    --card-secondary-bg: var(--dawn-surface);
    --background-floating: var(--dawn-surface);
    --primary-700: var(--dawn-surface);
    --bg-base-secondary: var(--dawn-surface);
    --bg-mod-strong: var(--dawn-surface);
    --button-filled-brand-text: var(--dawn-surface);

    --menu-item-default-active-bg: var(--dawn-overlay);
    --activity-card-background: var(--dawn-overlay);
    --deprecated-text-input-bg: var(--dawn-overlay);
    --background-modifier-selected: var(--dawn-overlay);
    --background-modifier-active: var(--dawn-overlay);
    --background-nested-floating: var(--dawn-overlay);
    --bg-surface-overlay: var(--dawn-overlay);
    --background-secondary-alt: var(--dawn-overlay);
    --modal-footer-background: var(--dawn-overlay);
    --card-primary-bg: var(--dawn-overlay);
    --background-tertiary: var(--dawn-overlay);
    --interactive-muted: var(--dawn-overlay);
    --scrollbar-thin-thumb: var(--dawn-overlay);
    --scrollbar-auto-thumb: var(--dawn-overlay);
    --primary-600: var(--dawn-overlay);
    --primary-660: var(--dawn-overlay);
    --bg-mod-subtle: var(--dawn-overlay);

    --text-muted: var(--dawn-muted);
    --interactive-hover: var(--dawn-muted);
    --primary-400: var(--dawn-muted);
    --primary-430: var(--dawn-muted);

    --background-message-highlight: color-mix(in srgb, var(--dawn-subtle) 15%, transparent);
    --clr-subtle: var(--dawn-subtle);

    --text-normal: var(--dawn-text);
    --text-spotify: var(--dawn-text);
    --header-primary: var(--dawn-text);
    --header-secondary: var(--dawn-text);
    --interactive-normal: var(--dawn-text);
    --interactive-active: var(--dawn-text);
    --button-secondary-text: var(--dawn-text);

    --status-danger: var(--dawn-love);

    --background-mentioned: color-mix(in srgb, var(--dawn-gold) 10%, transparent);
    --background-mentioned-hover: color-mix(in srgb, var(--dawn-gold) 20%, transparent);
    --info-warning-foreground: var(--dawn-gold);

    /* all variables using --rose would go here, but there are none */

    --text-link: var(--dawn-pine);
    --ping: var(--dawn-pine);
    --background-accent: var(--dawn-pine);
    --button-filled-brand-background: var(--dawn-pine);
    --button-filled-brand-background-hover: hsl(from var(--dawn-pine) h s calc(l*0.8));
    --control-brand-foreground-new: var(--dawn-pine);
    --brand-500: var(--dawn-pine);
    --brand-400: var(--dawn-pine);
    --brand-560: var(--dawn-pine);
    --control-brand-foreground: var(--dawn-pine);
    --info-warning-background: color-mix(in srgb, var(--dawn-pine) 25%, transparent);
    --text-brand: var(--dawn-pine);
    --polls-voted-fill: color-mix(in srgb, var(--dawn-pine) 25%, transparent);
    --brand-160: color-mix(in srgb, var(--dawn-pine) 25%, transparent);
    --button-filled-brand-background-active: hsl(from var(--dawn-pine) h s calc(l*0.5));
    --mention-background: color-mix(in srgb, var(--dawn-pine) 25%, transparent);
    --mention-foreground: hsl(from var(--dawn-pine) h s calc(l*1.5));
    --brand-05a: color-mix(in srgb, var(--dawn-pine) 25%, transparent);
    --brand-10a: color-mix(in srgb, var(--dawn-pine) 30%, transparent);

    --header-spotify: var(--dawn-foam);

    /* all variables using --highlightLow would go here, but there are none */

    --background-modifier-hover: var(--dawn-highlightMed);
    --button-secondary-background-disabled: var(--dawn-highlightMed);

    --background-modifier-accent: var(--dawn-highlightHigh);

    /* misc */
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
}

.container__87bf1,
.container__87bf1 > .slider__87bf1 > svg > path,
.lookFilled__3f413.select__3f413,
.list__920b8,
.mainLoginContainer__86e92 .input__0f084,
.container_d97f89,
.name_ac72c6 .input__0f084,
.mainTableContainer__09a38,
.container_cb32c7:has(> div > .appDetailsContainer_cb32c7),
.copyInput_fffc15,
.answerInner__4c520,
.content__49fc1 .input__0f084,
.stackedBars__74017,
.replyBar__841c8,
#settings-integrations-webhook-1341931982912884847 .input__0f084 {
    background-color: var(--background-tertiary) !important;
    fill: var(--background-tertiary) !important;
}

.iconBadge__650eb.isCurrentUserConnected__650eb {
    background-color: var(--background-accent) !important;
}


.replying__5126c:before {
    background-color: var(--clr-subtle) !important;
}

.replying__5126c:hover {
    background-color: color-mix(in srgb, var(--clr-subtle) 25%, transparent) !important;
}

.itemFilled__001a7,
.container_cb32c7:has(> div > .appDetailsContainer_cb32c7):hover {
    background-color: var(--background-primary) !important;
}

.vc-addon-header > div > .container__87bf1,
.container_c8ffbb,
.members_c8ffbb,
.member_c8ffbb,
.container_cb32c7:has(> div > .appDetailsContainer_cb32c7) .rowDivider_cb32c7 {
    background-color: var(--background-secondary) !important;
}

.container__87bf1.checked__87bf1,
.container__87bf1.checked__87bf1 > .slider__87bf1 > svg > path,
.vc-addon-header > div > .container__87bf1.checked__87bf1,
.live_a7acae,
.unreadPill__908e2 {
    background-color: var(--brand-500) !important;
    fill: var(--brand-500) !important;
}

.unreadPillCapStroke__908e2 {
    fill: var(--background-accent) !important;
    color: var(--background-accent) !important;
}

.warning__6436f,
.isUnread__908e2, .custom-theme-background .isUnread__908e2 {
    border-color: var(--background-accent) !important;
}

.warning__6436f .icon__6436f,
.isUnread__908e2 .content__908e2 {
    color: var(--background-accent) !important;
}

.executedCommand_c19a55 .appLauncherOnboardingCommandName_c19a55  {
    background-color: color-mix(in srgb, var(--text-link) 25%, transparent) !important;
}

.muted__29444 .overflow__82b15 {
    color: var(--background-modifier-hover) !important;
}

.colorDefault_c1e9c4.focused_c1e9c4,
.colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4) {
    color: var(--text-normal) !important;
    background-color: var(--background-tertiary) !important;
}

.modeMuted__2ea32 .icon__2ea32,
.modeMuted__2ea32 .name__2ea32{
    /* color: hsl(from var(--muted) h s calc(l*0.7)); */
    color: var(--text-muted) !important;
}

.theme-dark .iconBackgroundTierTwo__97677 {
    color: hsl(from var(--interactive-muted) h s calc(l*1.8)) !important;
}

.darkIcon__36dee {
    background-color: var(--base) !important;
}

.lightIcon__36dee {
    background-color: var(--dawn-base) !important;
}
